ssl.key
ssl.cert
.env
.space/
server
goblue.log
trash.txt
trash.json
gormblue.log
logs/
*.mp4
Stream/*.mp4
toying.go
temp/
./.vscode/*
./.air.toml
server-key.pem
server.pem
result.html
result.xml
app
main
tmp
.vscode